/* app css stylesheet */

body {
	padding: 80px 0 0 0;
}

#img{
  float:left;
  position: relative;
  padding-right: 10px;
}
#title{
  margin-top: 30px;
    font-size: 50px;
    line-height: 0%;
}
#imdbRating{
  padding-top: 20px;
}
#popularity{
margin-top: 1px;
}
body{
  background-image: url(../app/img/4.jpg);
  /*background-repeat:no-repeat;*/
  background-size : 100% auto                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
}
.container {
    font-family: Georgia, Serif;
    font-size: 16px;
    line-height: 25px;
    color: #3B3B3B;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

.fcontainer{

}
.gcontainer{
    
    height: 500px;
}

#content{
  position:relative;
}
.content-left{
  width: 40%;
  float: left;
}

.clear {
  clear: both;
}

.content-right{
  width: 40%;
  margin: 0 40px 0 30px;
  float: right;
}
.panel-default > .panel-heading {
background-color: white
}
.panel-group .panel {
      overflow: visible;
}

.statistics {
  padding: 0 20px;
}

canvas { height: 300px;
}
